$day-blue: #55a6cc;
$day-dark-blue: #345885;

$night-blue: #3b578b;
$night-dark-blue: #1a2d6e;
$nigth-deep-dark-blue: #0e1a42;
$nigth-cloudy-blue: #575f7c;
$nigth-deep-cloudy-blue: #373c4d;
$night-rainy-blue: #26252c;

$sun-rise-orange: #ac6332;
$sun-set-orange: #ac4432;

$cloudy: #c4c4c4;
$rainy: #26293f;

$black-bg: #353535;
$text-color: #f5f5f5;
$blue-rain: #384453;
$orange-sun: #ccb656;
$bg-card: #bdbdbd5d;


//def gridients
$day: linear-gradient(
    to bottom,
    $day-dark-blue 0%,
    $day-dark-blue 5%,
    mix($day-dark-blue, $day-blue, 90%) 10%,
    mix($day-dark-blue, $day-blue, 80%) 15%,
    mix($day-dark-blue, $day-blue, 70%) 20%,
    mix($day-dark-blue, $day-blue, 60%) 25%,
    mix($day-dark-blue, $day-blue, 50%) 30%,
    mix($day-dark-blue, $day-blue, 40%) 35%,
    mix($day-dark-blue, $day-blue, 30%) 40%,
    mix($day-dark-blue, $day-blue, 20%) 45%,
    mix($day-dark-blue, $day-blue, 10%) 50%,
    $day-blue 55%,
    $day-blue 100%
);

$nigth: linear-gradient(
    to bottom,
    $night-dark-blue 0%,
    $night-dark-blue 5%,
    mix($night-dark-blue, $night-blue, 90%) 10%,
    mix($night-dark-blue, $night-blue, 80%) 15%,
    mix($night-dark-blue, $night-blue, 70%) 20%,
    mix($night-dark-blue, $night-blue, 60%) 25%,
    mix($night-dark-blue, $night-blue, 50%) 30%,
    mix($night-dark-blue, $night-blue, 40%) 35%,
    mix($night-dark-blue, $night-blue, 30%) 40%,
    mix($night-dark-blue, $night-blue, 20%) 45%,
    mix($night-dark-blue, $night-blue, 10%) 50%,
    $night-blue 55%,
    $night-blue 100%
);

$nigth-deep: linear-gradient(
    to bottom,
    $nigth-deep-dark-blue 0%,
    $nigth-deep-dark-blue 5%,
    mix($nigth-deep-dark-blue, $night-dark-blue, 90%) 10%,
    mix($nigth-deep-dark-blue, $night-dark-blue, 80%) 15%,
    mix($nigth-deep-dark-blue, $night-dark-blue, 70%) 20%,
    mix($nigth-deep-dark-blue, $night-dark-blue, 60%) 25%,
    mix($nigth-deep-dark-blue, $night-dark-blue, 50%) 30%,
    mix($nigth-deep-dark-blue, $night-dark-blue, 40%) 35%,
    mix($nigth-deep-dark-blue, $night-dark-blue, 30%) 40%,
    mix($nigth-deep-dark-blue, $night-dark-blue, 20%) 45%,
    mix($nigth-deep-dark-blue, $night-dark-blue, 10%) 50%,
    $night-dark-blue 55%,
    $night-dark-blue 100%
);

$sun-rise: linear-gradient(
    to bottom,
    $nigth-deep-dark-blue 0%,
    $nigth-deep-dark-blue 5%,
    mix($nigth-deep-dark-blue, $sun-rise-orange, 90%) 10%,
    mix($nigth-deep-dark-blue, $sun-rise-orange, 80%) 15%,
    mix($nigth-deep-dark-blue, $sun-rise-orange, 70%) 20%,
    mix($nigth-deep-dark-blue, $sun-rise-orange, 60%) 25%,
    mix($nigth-deep-dark-blue, $sun-rise-orange, 50%) 30%,
    mix($nigth-deep-dark-blue, $sun-rise-orange, 40%) 35%,
    mix($nigth-deep-dark-blue, $sun-rise-orange, 30%) 40%,
    mix($nigth-deep-dark-blue, $sun-rise-orange, 20%) 45%,
    mix($nigth-deep-dark-blue, $sun-rise-orange, 10%) 50%,
    $sun-rise-orange 55%,
    $sun-rise-orange 100%
);

$sun-set: linear-gradient(
    to bottom,
    $night-dark-blue 0%,
    $night-dark-blue 5%,
    mix($night-dark-blue, $sun-set-orange, 90%) 10%,
    mix($night-dark-blue, $sun-set-orange, 80%) 15%,
    mix($night-dark-blue, $sun-set-orange, 70%) 20%,
    mix($night-dark-blue, $sun-set-orange, 60%) 25%,
    mix($night-dark-blue, $sun-set-orange, 50%) 30%,
    mix($night-dark-blue, $sun-set-orange, 40%) 35%,
    mix($night-dark-blue, $sun-set-orange, 30%) 40%,
    mix($night-dark-blue, $sun-set-orange, 20%) 45%,
    mix($night-dark-blue, $sun-set-orange, 10%) 50%,
    $sun-set-orange 55%,
    $sun-set-orange 100%
);

//cloudy gradients

$day-cloudy: linear-gradient(
    to bottom,
    $cloudy 0%,
    $cloudy 5%,
    mix($cloudy, $day-blue, 90%) 10%,
    mix($cloudy, $day-blue, 80%) 15%,
    mix($cloudy, $day-blue, 70%) 20%,
    mix($cloudy, $day-blue, 60%) 25%,
    mix($cloudy, $day-blue, 50%) 30%,
    mix($cloudy, $day-blue, 40%) 35%,
    mix($cloudy, $day-blue, 30%) 40%,
    mix($cloudy, $day-blue, 20%) 45%,
    mix($cloudy, $day-blue, 10%) 50%,
    $day-blue 55%,
    $day-blue 100%
);

$nigth-cloudy: linear-gradient(
    to bottom,
    $nigth-cloudy-blue 0%,
    $nigth-cloudy-blue 5%,
    mix($nigth-cloudy-blue, $night-blue, 90%) 10%,
    mix($nigth-cloudy-blue, $night-blue, 80%) 15%,
    mix($nigth-cloudy-blue, $night-blue, 70%) 20%,
    mix($nigth-cloudy-blue, $night-blue, 60%) 25%,
    mix($nigth-cloudy-blue, $night-blue, 50%) 30%,
    mix($nigth-cloudy-blue, $night-blue, 40%) 35%,
    mix($nigth-cloudy-blue, $night-blue, 30%) 40%,
    mix($nigth-cloudy-blue, $night-blue, 20%) 45%,
    mix($nigth-cloudy-blue, $night-blue, 10%) 50%,
    $night-blue 55%,
    $night-blue 100%
);

$nigth-deep-cloudy: linear-gradient(
    to bottom,
    $nigth-deep-cloudy-blue 0%,
    $nigth-deep-cloudy-blue 5%,
    mix($nigth-deep-cloudy-blue, $nigth-deep-dark-blue, 90%) 10%,
    mix($nigth-deep-cloudy-blue, $nigth-deep-dark-blue, 80%) 15%,
    mix($nigth-deep-cloudy-blue, $nigth-deep-dark-blue, 70%) 20%,
    mix($nigth-deep-cloudy-blue, $nigth-deep-dark-blue, 60%) 25%,
    mix($nigth-deep-cloudy-blue, $nigth-deep-dark-blue, 50%) 30%,
    mix($nigth-deep-cloudy-blue, $nigth-deep-dark-blue, 40%) 35%,
    mix($nigth-deep-cloudy-blue, $nigth-deep-dark-blue, 30%) 40%,
    mix($nigth-deep-cloudy-blue, $nigth-deep-dark-blue, 20%) 45%,
    mix($nigth-deep-cloudy-blue, $nigth-deep-dark-blue, 10%) 50%,
    $nigth-deep-dark-blue 55%,
    $nigth-deep-dark-blue 100%
);

$sun-rise-cloudy: linear-gradient(
    to bottom,
    $nigth-deep-cloudy-blue 0%,
    $nigth-deep-cloudy-blue 5%,
    mix($nigth-deep-cloudy-blue, $sun-rise-orange, 90%) 10%,
    mix($nigth-deep-cloudy-blue, $sun-rise-orange, 80%) 15%,
    mix($nigth-deep-cloudy-blue, $sun-rise-orange, 70%) 20%,
    mix($nigth-deep-cloudy-blue, $sun-rise-orange, 60%) 25%,
    mix($nigth-deep-cloudy-blue, $sun-rise-orange, 50%) 30%,
    mix($nigth-deep-cloudy-blue, $sun-rise-orange, 40%) 35%,
    mix($nigth-deep-cloudy-blue, $sun-rise-orange, 30%) 40%,
    mix($nigth-deep-cloudy-blue, $sun-rise-orange, 20%) 45%,
    mix($nigth-deep-cloudy-blue, $sun-rise-orange, 10%) 50%,
    $sun-rise-orange 55%,
    $sun-rise-orange 100%
);

$sun-set-cloudy: linear-gradient(
    to bottom,
    $nigth-deep-cloudy-blue 0%,
    $nigth-deep-cloudy-blue 5%,
    mix($nigth-deep-cloudy-blue, $sun-set-orange, 90%) 10%,
    mix($nigth-deep-cloudy-blue, $sun-set-orange, 80%) 15%,
    mix($nigth-deep-cloudy-blue, $sun-set-orange, 70%) 20%,
    mix($nigth-deep-cloudy-blue, $sun-set-orange, 60%) 25%,
    mix($nigth-deep-cloudy-blue, $sun-set-orange, 50%) 30%,
    mix($nigth-deep-cloudy-blue, $sun-set-orange, 40%) 35%,
    mix($nigth-deep-cloudy-blue, $sun-set-orange, 30%) 40%,
    mix($nigth-deep-cloudy-blue, $sun-set-orange, 20%) 45%,
    mix($nigth-deep-cloudy-blue, $sun-set-orange, 10%) 50%,
    $sun-set-orange 55%,
    $sun-set-orange 100%
);

//rainy gradients

$day-rainy: linear-gradient(
    to bottom,
    $rainy 0%,
    $rainy 5%,
    mix($rainy, $day-blue, 90%) 10%,
    mix($rainy, $day-blue, 80%) 15%,
    mix($rainy, $day-blue, 70%) 20%,
    mix($rainy, $day-blue, 60%) 25%,
    mix($rainy, $day-blue, 50%) 30%,
    mix($rainy, $day-blue, 40%) 35%,
    mix($rainy, $day-blue, 30%) 40%,
    mix($rainy, $day-blue, 20%) 45%,
    mix($rainy, $day-blue, 10%) 50%,
    $day-blue 55%,
    $day-blue 100%
);

$nigth-rainy: linear-gradient(
    to bottom,
    $night-rainy-blue 0%,
    $night-rainy-blue 5%,
    mix($night-rainy-blue, $night-blue, 90%) 10%,
    mix($night-rainy-blue, $night-blue, 80%) 15%,
    mix($night-rainy-blue, $night-blue, 70%) 20%,
    mix($night-rainy-blue, $night-blue, 60%) 25%,
    mix($night-rainy-blue, $night-blue, 50%) 30%,
    mix($night-rainy-blue, $night-blue, 40%) 35%,
    mix($night-rainy-blue, $night-blue, 30%) 40%,
    mix($night-rainy-blue, $night-blue, 20%) 45%,
    mix($night-rainy-blue, $night-blue, 10%) 50%,
    $night-blue 55%,
    $night-blue 100%
);

$nigth-deep-rainy: linear-gradient(
    to bottom,
    $night-rainy-blue 0%,
    $night-rainy-blue 5%,
    mix($night-rainy-blue, $nigth-deep-dark-blue, 90%) 10%,
    mix($night-rainy-blue, $nigth-deep-dark-blue, 80%) 15%,
    mix($night-rainy-blue, $nigth-deep-dark-blue, 70%) 20%,
    mix($night-rainy-blue, $nigth-deep-dark-blue, 60%) 25%,
    mix($night-rainy-blue, $nigth-deep-dark-blue, 50%) 30%,
    mix($night-rainy-blue, $nigth-deep-dark-blue, 40%) 35%,
    mix($night-rainy-blue, $nigth-deep-dark-blue, 30%) 40%,
    mix($night-rainy-blue, $nigth-deep-dark-blue, 20%) 45%,
    mix($night-rainy-blue, $nigth-deep-dark-blue, 10%) 50%,
    $nigth-deep-dark-blue 55%,
    $nigth-deep-dark-blue 100%
);

$sun-rise-rainy: linear-gradient(
    to bottom, 
    $night-rainy-blue 0%,
    $night-rainy-blue 5%,
    mix($night-rainy-blue, $sun-rise-orange, 90%) 10%,
    mix($night-rainy-blue, $sun-rise-orange, 80%) 15%,
    mix($night-rainy-blue, $sun-rise-orange, 70%) 20%,
    mix($night-rainy-blue, $sun-rise-orange, 60%) 25%,
    mix($night-rainy-blue, $sun-rise-orange, 50%) 30%,
    mix($night-rainy-blue, $sun-rise-orange, 40%) 35%,
    mix($night-rainy-blue, $sun-rise-orange, 30%) 40%,
    mix($night-rainy-blue, $sun-rise-orange, 20%) 45%,
    mix($night-rainy-blue, $sun-rise-orange, 10%) 50%,
    $sun-rise-orange 55%,
    $sun-rise-orange 100%
);

$sun-set-rainy: linear-gradient(
    to bottom,
    $night-rainy-blue 0%,
    $night-rainy-blue 5%,
    mix($night-rainy-blue, $sun-set-orange, 90%) 10%,
    mix($night-rainy-blue, $sun-set-orange, 80%) 15%,
    mix($night-rainy-blue, $sun-set-orange, 70%) 20%,
    mix($night-rainy-blue, $sun-set-orange, 60%) 25%,
    mix($night-rainy-blue, $sun-set-orange, 50%) 30%,
    mix($night-rainy-blue, $sun-set-orange, 40%) 35%,
    mix($night-rainy-blue, $sun-set-orange, 30%) 40%,
    mix($night-rainy-blue, $sun-set-orange, 20%) 45%,
    mix($night-rainy-blue, $sun-set-orange, 10%) 50%,
    $sun-set-orange 55%,
    $sun-set-orange 100%
);